<h1> New Blogger </h1>
<hr>

<% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
       <br> <p> <%= error %> </p> <br>
    <% end %>
<% end %>


<%= form_for @blogger do |f| %>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :bio %>
    <br>

    <%= f.text_area :bio %>
    <br>
    <%= f.label :age %>
    <br>
    <%= f.number_field :age %>
    <br>
    <%= f.submit%>
<% end %>